<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>com.house.maintain.housemaintain.dto.UserDto</class-a>
        <class-b>com.house.maintain.housemaintain.vo.UserVO</class-b>
        <field custom-converter="com.house.maintain.housemaintain.convertors.StringToLocalDateConverter">
            <a>dateOfBirth</a>
            <b>dateOfBirth</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.house.maintain.housemaintain.dto.UserDto</class-a>
        <class-b>com.house.maintain.housemaintain.vo.AddressVO</class-b>
    </mapping>
</mappings>